:root {
  --primary: #b6895b;
  --bg: #010101;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--white);
  min-height: 4000px;
}

/* Navbar Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #151515;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .logo {
  font-size: 1.8rem;
  color: var(--white);
  font-weight: 700;
}

.navbar .logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav a {
  display: inline-block;
  color: var(--white);
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
  transition: 0.2s linear;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
  transition: 0.2s linear;
}

.navbar .navbar-extras a {
  color: var(--white);
  display: inline-block;
  margin: 0 0.8rem;
}

.navbar .navbar-extras a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3em;
  line-height: 1.2;
  color: var(--white);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content span {
  color: var(--primary);
  font-style: italic;
}

.hero .content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.3;
  color: var(--white);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  font-size: 1.3rem;
  color: var(--white);
  background-color: var(--primary);
  margin-top: 1rem;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */

.about,
.menu {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 20rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 0 1.6rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.7;
}

/* Menu Section */

.menu h2 {
  margin-bottom: 0.8rem;
}

.menu p {
  text-align: center;
  max-width: 35rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 2.5rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 0.5rem auto 0.5rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--white);
    width: 30rem;
    height: 100vh;
    transition: 0.2s linear;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--bg);
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 27em;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  .about .row .content p {
    font-size: 1.4rem;
  }

  .menu p {
    font-size: 1.3rem;
  }
}
/* SmartPhone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
